<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 7.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl size=1142938 sha256=ecf1c559d56b04d631352007c54450e04948365a1445ec76c8525cc8d6754104
  Stored in directory: c:\users\alice\appdata\local\pip\cache\wheels\cb\43\46\fa638f2422554332b7865d600275b24568bf60e76104a94bb4
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.32
    Uninstalling SQLAlchemy-1.4.32:
      Successfully uninstalled SQLAlchemy-1.4.32
Successfully installed sqlalchemy-1.3.24

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'C:\Users\alice\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: ibm_db_sa in c:\users\alice\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\alice\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.24)

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'C:\Users\alice\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: ipython-sql in c:\users\alice\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\alice\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\alice\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\alice\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\alice\anaconda3\lib\site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: ipython>=1.0 in c:\users\alice\anaconda3\lib\site-packages (from ipython-sql) (8.3.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\alice\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: decorator in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: stack-data in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\alice\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\alice\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\alice\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in c:\users\alice\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\alice\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\alice\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'C:\Users\alice\anaconda3\python.exe -m pip install --upgrade pip' command.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [2]:
import pandas as  pd
import numpy as np

space = pd.read_csv('Spacex.csv')
space

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,05-11-2020,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,16-11-2020,00:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,21-11-2020,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,25-11-2020,02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,06-12-2020,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [3]:
space.dtypes

Date                 object
Time (UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing _Outcome     object
dtype: object

In [4]:
space['Date'] = pd.to_datetime(space['Date'] )
space['Time (UTC)'] = pd.to_datetime(space['Time (UTC)'] )

C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '22-05-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '29-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '18-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '14-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '21-09-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '14-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '27-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '28-06-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '22-12-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '17-01-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '27-05-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '15-06-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '18-07-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '14-08-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '14-01-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '19-02-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '16-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '30-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '15-05-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '23-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '25-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '14-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '24-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '30-10-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '15-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '23-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '31-01-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '22-02-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '30-03-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '18-04-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '22-05-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '29-06-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '22-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '25-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '15-11-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '23-12-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '22-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '24-05-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '25-07-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '17-12-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '19-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '29-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '17-02-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '18-03-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '22-04-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '30-05-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '13-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '30-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '20-07-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '18-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '30-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '18-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '24-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '16-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '21-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )
C:\Users\alice\AppData\Local\Temp\ipykernel_13828\2858056530.py:1: UserWarning: Parsing '25-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  space['Date'] = pd.to_datetime(space['Date'] )

In [5]:
space.dtypes

Date                 datetime64[ns]
Time (UTC)           datetime64[ns]
Booster_Version              object
Launch_Site                  object
Payload                      object
PAYLOAD_MASS__KG_             int64
Orbit                        object
Customer                     object
Mission_Outcome              object
Landing _Outcome             object
dtype: object

In [6]:
space.rename({'Time (UTC)': 'Time', 'Landing _Outcome': 'Landing_Outcome'}, axis=1, inplace=True)
space

,Date,Time,Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,2022-05-23 18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,2022-05-23 15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,2022-05-23 07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,2022-05-23 00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,2022-05-23 15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-05-11,2022-05-23 23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,2022-05-23 00:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,2022-05-23 17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2022-05-23 02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-06-12,2022-05-23 16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [9]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='cfp!qc')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE Spacex")
        print("space database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'spacex'; database exists

In [10]:
try:
    conn = msql.connect(host='localhost', 
                           database='Spacex', user='root', 
                           password='cfp!qc')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS Spacex;')
        print('Creating table....')
        cursor.execute("CREATE TABLE Spacex (Date DATE, Time DATE, Booster_Version VARCHAR(20) NOT NULL, Launch_Site VARCHAR(20) NOT NULL, Payload VARCHAR(100) NOT NULL, PAYLOAD_MASS__KG_ INT, Orbit VARCHAR(20) NOT NULL, Customer VARCHAR(100) NOT NULL, Mission_Outcome VARCHAR(50) NOT NULL, Landing_Outcome VARCHAR(50) NOT NULL)")
        print("space table is created....")
        for i,row in space.iterrows():
            sql = "INSERT INTO Spacex.Spacex VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we must commit to save our changes
            conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('spacex',)
Creating table....
space table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [16]:
create_users_table = """
CREATE TABLE IF NOT EXISTS space (
  Date DATE,
  Time (UTC) dDATE,
  Booster_Version VARCHAR(20) NOT NULL,
  Launch_Site VARCHAR(20) NOT NULL,
  Payload VARCHAR(50) NOT NULL,
  PAYLOAD_MASS__KG_ INT,
  Orbit VARCHAR(20) NOT NULL,
  Customer VARCHAR(20) NOT NULL,
  Mission_Outcome VARCHAR(20) NOT NULL,
  Landing _Outcome VARCHAR(20) NOT NULL,
  )ENGINE = InnoDB
  """

In [ ]:
%sql ibm_db_sa://

In [11]:
mycursor = conn.cursor()

mycursor.execute("SELECT * FROM spacex")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(datetime.date(2010, 4, 6), datetime.date(2022, 5, 23), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
(datetime.date(2010, 8, 12), datetime.date(2022, 5, 23), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
(datetime.date(2012, 5, 22), datetime.date(2022, 5, 23), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
(datetime.date(2012, 8, 10), datetime.date(2022, 5, 23), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.date(2013, 1, 3), datetime.date(2022, 5, 23), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.date(2013, 9, 29), datetime.date(2022, 5, 23), 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)')
(datetime.date(2013, 3, 12), datetime.date(2022, 5, 23), 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt')
(datetime.date(2014, 6, 1), datetime.date(2022, 5, 23), 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt')
(datetime.date(2014, 4, 18), datetime.date(2022, 5, 23), 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)')
(datetime.date(2014, 7, 14), datetime.date(2022, 5, 23), 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')
(datetime.date(2014, 5, 8), datetime.date(2022, 5, 23), 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt')
(datetime.date(2014, 7, 9), datetime.date(2022, 5, 23), 'F9 v1.1 B1011', 'CCAFS LC-40', 'AsiaSat 6', 4428, 'GTO', 'AsiaSat', 'Success', 'No attempt')
(datetime.date(2014, 9, 21), datetime.date(2022, 5, 23), 'F9 v1.1 B1010', 'CCAFS LC-40', 'SpaceX CRS-4', 2216, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Uncontrolled (ocean)')
(datetime.date(2015, 10, 1), datetime.date(2022, 5, 23), 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)')
(datetime.date(2015, 11, 2), datetime.date(2022, 5, 23), 'F9 v1.1 B1013', 'CCAFS LC-40', 'DSCOVR', 570, 'HEO', 'U.S. Air Force NASA NOAA', 'Success', 'Controlled (ocean)')
(datetime.date(2015, 2, 3), datetime.date(2022, 5, 23), 'F9 v1.1 B1014', 'CCAFS LC-40', 'ABS-3A Eutelsat 115 West B', 4159, 'GTO', 'ABS Eutelsat', 'Success', 'No attempt')
(datetime.date(2015, 4, 14), datetime.date(2022, 5, 23), 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)')
(datetime.date(2015, 4, 27), datetime.date(2022, 5, 23), 'F9 v1.1 B1016', 'CCAFS LC-40', 'Turkmen 52 / MonacoSAT', 4707, 'GTO', 'Turkmenistan National Space Agency', 'Success', 'No attempt')
(datetime.date(2015, 6, 28), datetime.date(2022, 5, 23), 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)')
(datetime.date(2015, 12, 22), datetime.date(2022, 5, 23), 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')
(datetime.date(2016, 1, 17), datetime.date(2022, 5, 23), 'F9 v1.1 B1017', 'VAFB SLC-4E', 'Jason-3', 553, 'LEO', 'NASA (LSP) NOAA CNES', 'Success', 'Failure (drone ship)')
(datetime.date(2016, 4, 3), datetime.date(2022, 5, 23), 'F9 FT B1020', 'CCAFS LC-40', 'SES-9', 5271, 'GTO', 'SES', 'Success', 'Failure (drone ship)')
(datetime.date(2016, 8, 4), datetime.date(2022, 5, 23), 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)')
(datetime.date(2016, 6, 5), datetime.date(2022, 5, 23), 'F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)')
(datetime.date(2016, 5, 27), datetime.date(2022, 5, 23), 'F9 FT B1023.1', 'CCAFS LC-40', 'Thaicom 8', 3100, 'GTO', 'Thaicom', 'Success', 'Success (drone ship)')
(datetime.date(2016, 6, 15), datetime.date(2022, 5, 23), 'F9 FT B1024', 'CCAFS LC-40', 'ABS-2A Eutelsat 117 West B', 3600, 'GTO', 'ABS Eutelsat', 'Success', 'Failure (drone ship)')
(datetime.date(2016, 7, 18), datetime.date(2022, 5, 23), 'F9 FT B1025.1', 'CCAFS LC-40', 'SpaceX CRS-9', 2257, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
(datetime.date(2016, 8, 14), datetime.date(2022, 5, 23), 'F9 FT B1026', 'CCAFS LC-40', 'JCSAT-16', 4600, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)')
(datetime.date(2017, 1, 14), datetime.date(2022, 5, 23), 'F9 FT B1029.1', 'VAFB SLC-4E', 'Iridium NEXT 1', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success (drone ship)')
(datetime.date(2017, 2, 19), datetime.date(2022, 5, 23), 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
(datetime.date(2017, 3, 16), datetime.date(2022, 5, 23), 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt')
(datetime.date(2017, 3, 30), datetime.date(2022, 5, 23), 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)')
(datetime.date(2017, 1, 5), datetime.date(2022, 5, 23), 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)')
(datetime.date(2017, 5, 15), datetime.date(2022, 5, 23), 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')
(datetime.date(2017, 3, 6), datetime.date(2022, 5, 23), 'F9 FT B1035.1', 'KSC LC-39A', 'SpaceX CRS-11', 2708, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
(datetime.date(2017, 6, 23), datetime.date(2022, 5, 23), 'F9 FT  B1029.2', 'KSC LC-39A', 'BulgariaSat-1', 3669, 'GTO', 'Bulsatcom', 'Success', 'Success (drone ship)')
(datetime.date(2017, 6, 25), datetime.date(2022, 5, 23), 'F9 FT B1036.1', 'VAFB SLC-4E', 'Iridium NEXT 2', 9600, 'LEO', 'Iridium Communications', 'Success', 'Success (drone ship)')
(datetime.date(2017, 5, 7), datetime.date(2022, 5, 23), 'F9 FT B1037', 'KSC LC-39A', 'Intelsat 35e', 6761, 'GTO', 'Intelsat', 'Success', 'No attempt')
(datetime.date(2017, 8, 14), datetime.date(2022, 5, 23), 'F9 B4 B1039.1', 'KSC LC-39A', 'SpaceX CRS-12', 3310, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
(datetime.date(2017, 8, 24), datetime.date(2022, 5, 23), 'F9 FT B1038.1', 'VAFB SLC-4E', 'Formosat-5', 475, 'SSO', 'NSPO', 'Success', 'Success (drone ship)')
(datetime.date(2017, 7, 9), datetime.date(2022, 5, 23), 'F9 B4 B1040.1', 'KSC LC-39A', 'Boeing X-37B OTV-5', 4990, 'LEO', 'U.S. Air Force', 'Success', 'Success (ground pad)')
(datetime.date(2017, 9, 10), datetime.date(2022, 5, 23), 'F9 B4 B1041.1', 'VAFB SLC-4E', 'Iridium NEXT 3', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success (drone ship)')
(datetime.date(2017, 11, 10), datetime.date(2022, 5, 23), 'F9 FT  B1031.2', 'KSC LC-39A', 'SES-11 / EchoStar 105', 5200, 'GTO', 'SES EchoStar', 'Success', 'Success (drone ship)')
(datetime.date(2017, 10, 30), datetime.date(2022, 5, 23), 'F9 B4 B1042.1', 'KSC LC-39A', 'Koreasat 5A', 3500, 'GTO', 'KT Corporation', 'Success', 'Success (drone ship)')
(datetime.date(2017, 12, 15), datetime.date(2022, 5, 23), 'F9 FT  B1035.2', 'CCAFS SLC-40', 'SpaceX CRS-13', 2205, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
(datetime.date(2017, 12, 23), datetime.date(2022, 5, 23), 'F9 FT  B1036.2', 'VAFB SLC-4E', 'Iridium NEXT 4', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Controlled (ocean)')
(datetime.date(2018, 8, 1), datetime.date(2022, 5, 23), 'F9 B4 B1043.1', 'CCAFS SLC-40', 'Zuma', 5000, 'LEO', 'Northrop Grumman', 'Success (payload status unclear)', 'Success (ground pad)')
(datetime.date(2018, 1, 31), datetime.date(2022, 5, 23), 'F9 FT  B1032.2', 'CCAFS SLC-40', 'GovSat-1 / SES-16', 4230, 'GTO', 'SES', 'Success', 'Controlled (ocean)')
(datetime.date(2018, 2, 22), datetime.date(2022, 5, 23), 'F9 FT  B1038.2', 'VAFB SLC-4E', 'Paz  Tintin A & B', 2150, 'SSO', 'Hisdesat exactEarth SpaceX', 'Success', 'No attempt')
(datetime.date(2018, 6, 3), datetime.date(2022, 5, 23), 'F9 B4 B1044', 'CCAFS SLC-40', 'Hispasat 30W-6  PODSat', 6092, 'GTO', 'Hispasat  NovaWurks', 'Success', 'No attempt')
(datetime.date(2018, 3, 30), datetime.date(2022, 5, 23), 'F9 B4  B1041.2', 'VAFB SLC-4E', 'Iridium NEXT 5', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'No attempt')
(datetime.date(2018, 2, 4), datetime.date(2022, 5, 23), 'F9 B4  B1039.2', 'CCAFS SLC-40', 'SpaceX CRS-14', 2647, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.date(2018, 4, 18), datetime.date(2022, 5, 23), 'F9 B4 B1045.1', 'CCAFS SLC-40', 'Transiting Exoplanet Survey Satellite (TESS)', 362, 'HEO', 'NASA (LSP)', 'Success', 'Success (drone ship)')
(datetime.date(2018, 11, 5), datetime.date(2022, 5, 23), 'F9 B5  B1046.1', 'KSC LC-39A', 'Bangabandhu-1', 3600, 'GTO', 'Thales-Alenia/BTRC', 'Success', 'Success (drone ship)')
(datetime.date(2018, 5, 22), datetime.date(2022, 5, 23), 'F9 B4  B1043.2', 'VAFB SLC-4E', 'Iridium NEXT 6   GRACE-FO 1, 2', 6460, 'Polar LEO', 'Iridium Communications GFZ ‚ NASA', 'Success', 'No attempt')
(datetime.date(2018, 4, 6), datetime.date(2022, 5, 23), 'F9 B4  B1040.2', 'CCAFS SLC-40', 'SES-12', 5384, 'GTO', 'SES', 'Success', 'No attempt')
(datetime.date(2018, 6, 29), datetime.date(2022, 5, 23), 'F9 B4 B1045.2', 'CCAFS SLC-40', 'SpaceX CRS-15', 2697, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.date(2018, 7, 22), datetime.date(2022, 5, 23), 'F9 B5B1047.1', 'CCAFS SLC-40', 'Telstar 19V', 7075, 'GTO', 'Telesat', 'Success', 'Success')
(datetime.date(2018, 7, 25), datetime.date(2022, 5, 23), 'F9 B5B1048.1', 'VAFB SLC-4E', 'Iridium NEXT-7', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success')
(datetime.date(2018, 7, 8), datetime.date(2022, 5, 23), 'F9 B5 B1046.2', 'CCAFS SLC-40', 'Merah Putih ', 5800, 'GTO', 'Telkom Indonesia', 'Success', 'Success')
(datetime.date(2018, 10, 9), datetime.date(2022, 5, 23), 'F9 B5B1049.1', 'CCAFS SLC-40', 'Telstar 18V / Apstar-5C', 7060, 'GTO', 'Telesat', 'Success', 'Success')
(datetime.date(2018, 8, 10), datetime.date(2022, 5, 23), 'F9 B5 B1048.2', 'VAFB SLC-4E', 'SAOCOM 1A', 3000, 'SSO', 'CONAE', 'Success', 'Success')
(datetime.date(2018, 11, 15), datetime.date(2022, 5, 23), 'F9 B5 B1047.2', 'KSC LC-39A', 'Es hail 2', 5300, 'GTO', 'Es hailSat', 'Success', 'Success')
(datetime.date(2018, 3, 12), datetime.date(2022, 5, 23), 'F9 B5 B1046.3', 'VAFB SLC-4E', 'SSO-A ', 4000, 'SSO', 'Spaceflight Industries', 'Success', 'Success')
(datetime.date(2018, 5, 12), datetime.date(2022, 5, 23), 'F9 B5B1050', 'CCAFS SLC-40', 'SpaceX CRS-16', 2500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure')
(datetime.date(2018, 12, 23), datetime.date(2022, 5, 23), 'F9 B5B1054', 'CCAFS SLC-40', 'GPS III-01 ', 4400, 'MEO', 'USAF', 'Success ', 'No attempt')
(datetime.date(2019, 11, 1), datetime.date(2022, 5, 23), 'F9 B5 B1049.2', 'VAFB SLC-4E', 'Iridium NEXT-8', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success')
(datetime.date(2019, 2, 22), datetime.date(2022, 5, 23), 'F9 B5 B1048.3', 'CCAFS SLC-40', 'Nusantara Satu, Beresheet Moon lander, S5', 4850, 'GTO', 'PSN, SpaceIL / IAI', 'Success', 'Success')
(datetime.date(2019, 2, 3), datetime.date(2022, 5, 23), 'F9 B5B1051.1', 'KSC LC-39A', 'Crew Dragon Demo-1, SpaceX CRS-17 ', 12055, 'LEO (ISS)', 'NASA (CCD) ', 'Success', 'Success')
(datetime.date(2019, 4, 5), datetime.date(2022, 5, 23), 'F9 B5B1056.1 ', 'CCAFS SLC-40', 'SpaceX CRS-17, Starlink v0.9', 2495, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success')
(datetime.date(2019, 5, 24), datetime.date(2022, 5, 23), 'F9 B5 B1049.3', 'CCAFS SLC-40', 'Starlink v0.9, RADARSAT Constellation', 13620, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2019, 12, 6), datetime.date(2022, 5, 23), 'F9 B5 B1051.2 ', 'VAFB SLC-4E', 'RADARSAT Constellation, SpaceX CRS-18 ', 4200, 'SSO', 'Canadian Space Agency (CSA)', 'Success', 'Success')
(datetime.date(2019, 7, 25), datetime.date(2022, 5, 23), 'F9 B5 B1056.2 ', 'CCAFS SLC-40', 'SpaceX CRS-18, AMOS-17 ', 2268, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success')
(datetime.date(2019, 6, 8), datetime.date(2022, 5, 23), 'F9 B5 B1047.3 ', 'CCAFS SLC-40', 'AMOS-17, Starlink 1 v1.0 ', 6500, 'GTO', 'Spacecom', 'Success', 'No attempt ')
(datetime.date(2019, 11, 11), datetime.date(2022, 5, 23), 'F9 B5 B1048.4', 'CCAFS SLC-40', 'Starlink 1 v1.0, SpaceX CRS-19 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2019, 5, 12), datetime.date(2022, 5, 23), 'F9 B5B1059.1', 'CCAFS SLC-40', 'SpaceX CRS-19, JCSat-18 / Kacific 1 ', 2617, 'LEO (ISS)', 'NASA (CRS), Kacific 1', 'Success', 'Success')
(datetime.date(2019, 12, 17), datetime.date(2022, 5, 23), 'F9 B5 B1056.3 ', 'CCAFS SLC-40', 'JCSat-18 / Kacific 1, Starlink 2 v1.0 ', 6956, 'GTO', 'Sky Perfect JSAT, Kacific 1', 'Success', 'Success')
(datetime.date(2020, 7, 1), datetime.date(2022, 5, 23), 'F9 B5 B1049.4', 'CCAFS SLC-40', 'Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 1, 19), datetime.date(2022, 5, 23), 'F9 B5 B1046.4', 'KSC LC-39A', 'Crew Dragon in-flight abort test, Starlink 3 v1.0 ', 12050, 'Sub-orbital', 'NASA (CTS)', 'Success', 'No attempt')
(datetime.date(2020, 1, 29), datetime.date(2022, 5, 23), 'F9 B5 B1051.3', 'CCAFS SLC-40', 'Starlink 3 v1.0, Starlink 4 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 2, 17), datetime.date(2022, 5, 23), 'F9 B5 B1056.4', 'CCAFS SLC-40', 'Starlink 4 v1.0, SpaceX CRS-20', 15600, 'LEO', 'SpaceX', 'Success', 'Failure')
(datetime.date(2020, 7, 3), datetime.date(2022, 5, 23), 'F9 B5 B1059.2', 'CCAFS SLC-40', 'SpaceX CRS-20, Starlink 5 v1.0 ', 1977, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success')
(datetime.date(2020, 3, 18), datetime.date(2022, 5, 23), 'F9 B5 B1048.5', 'KSC LC-39A', 'Starlink 5 v1.0, Starlink 6 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Failure')
(datetime.date(2020, 4, 22), datetime.date(2022, 5, 23), 'F9 B5 B1051.4', 'KSC LC-39A', 'Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 5, 30), datetime.date(2022, 5, 23), 'F9 B5B1058.1 ', 'KSC LC-39A', 'Crew Dragon Demo-2, Starlink 7 v1.0 ', 12530, 'LEO (ISS)', 'NASA (CCDev)', 'Success', 'Success')
(datetime.date(2020, 4, 6), datetime.date(2022, 5, 23), 'F9 B5 B1049.5', 'CCAFS SLC-40', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600, 'LEO', 'SpaceX, Planet Labs', 'Success', 'Success')
(datetime.date(2020, 6, 13), datetime.date(2022, 5, 23), 'F9 B5 B1059.3', 'CCAFS SLC-40', 'Starlink 8 v1.0, SkySats-16, -17, -18, GPS III-03 ', 15410, 'LEO', 'SpaceX, Planet Labs', 'Success', 'Success')
(datetime.date(2020, 6, 30), datetime.date(2022, 5, 23), 'F9 B5B1060.1', 'CCAFS SLC-40', 'GPS III-03, ANASIS-II', 4311, 'MEO', 'U.S. Space Force', 'Success', 'Success')
(datetime.date(2020, 7, 20), datetime.date(2022, 5, 23), 'F9 B5 B1058.2 ', 'CCAFS SLC-40', 'ANASIS-II, Starlink 9 v1.0', 5500, 'GTO', 'Republic of Korea Army, Spaceflight Industries (BlackSky)', 'Success', 'Success')
(datetime.date(2020, 7, 8), datetime.date(2022, 5, 23), 'F9 B5 B1051.5', 'KSC LC-39A', 'Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0 ', 14932, 'LEO', 'SpaceX, Spaceflight Industries (BlackSky), Planet Labs', 'Success', 'Success')
(datetime.date(2020, 8, 18), datetime.date(2022, 5, 23), 'F9 B5 B1049.6', 'CCAFS SLC-40', 'Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B ', 15440, 'LEO', 'SpaceX, Planet Labs, PlanetIQ', 'Success', 'Success')
(datetime.date(2020, 8, 30), datetime.date(2022, 5, 23), 'F9 B5 B1059.4', 'CCAFS SLC-40', 'SAOCOM 1B, GNOMES 1, Tyvak-0172', 3130, 'SSO', 'CONAE, PlanetIQ, SpaceX', 'Success', 'Success')
(datetime.date(2020, 3, 9), datetime.date(2022, 5, 23), 'F9 B5 B1060.2 ', 'KSC LC-39A', 'Starlink 11 v1.0, Starlink 12 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 6, 10), datetime.date(2022, 5, 23), 'F9 B5 B1058.3 ', 'KSC LC-39A', 'Starlink 12 v1.0, Starlink 13 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 10, 18), datetime.date(2022, 5, 23), 'F9 B5 B1051.6', 'KSC LC-39A', 'Starlink 13 v1.0, Starlink 14 v1.0 ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 10, 24), datetime.date(2022, 5, 23), 'F9 B5 B1060.3', 'CCAFS SLC-40', 'Starlink 14 v1.0, GPS III-04  ', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 5, 11), datetime.date(2022, 5, 23), 'F9 B5B1062.1', 'CCAFS SLC-40', 'GPS III-04 , Crew-1', 4311, 'MEO', 'USSF', 'Success', 'Success')
(datetime.date(2020, 11, 16), datetime.date(2022, 5, 23), 'F9 B5B1061.1 ', 'KSC LC-39A', 'Crew-1, Sentinel-6 Michael Freilich ', 12500, 'LEO (ISS)', 'NASA (CCP)', 'Success', 'Success')
(datetime.date(2020, 11, 21), datetime.date(2022, 5, 23), 'F9 B5B1063.1', 'VAFB SLC-4E', 'Sentinel-6 Michael Freilich, Starlink 15 v1.0 ', 1192, 'LEO', 'NASA / NOAA / ESA / EUMETSAT', 'Success', 'Success')
(datetime.date(2020, 11, 25), datetime.date(2022, 5, 23), 'F9 B5 B1049.7 ', 'CCAFS SLC-40', 'Starlink 15 v1.0, SpaceX CRS-21', 15600, 'LEO', 'SpaceX', 'Success', 'Success')
(datetime.date(2020, 6, 12), datetime.date(2022, 5, 23), 'F9 B5 B1058.4 ', 'KSC LC-39A', 'SpaceX CRS-21', 2972, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success')

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [12]:
mycursor.execute("SELECT DISTINCT(Launch_Site) FROM spacex")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [46]:
mycursor.execute("SELECT * FROM spacex  WHERE Launch_Site LIKE 'CCA%' LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(datetime.date(2010, 4, 6), datetime.date(2022, 5, 20), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
(datetime.date(2010, 8, 12), datetime.date(2022, 5, 20), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
(datetime.date(2012, 5, 22), datetime.date(2022, 5, 20), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
(datetime.date(2012, 8, 10), datetime.date(2022, 5, 20), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.date(2013, 1, 3), datetime.date(2022, 5, 20), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [48]:
mycursor.execute("SELECT SUM(PAYLOAD_MASS__KG_) FROM spacex  WHERE CUSTOMER = 'NASA (CRS)'")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(Decimal('45596'),)

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [50]:
mycursor.execute("SELECT AVG(PAYLOAD_MASS__KG_) FROM spacex  WHERE Booster_Version LIKE 'F9 v1.1%'")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(Decimal('2534.6667'),)

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [16]:
mycursor.execute("SELECT min(DATE) FROM spacex  WHERE Landing_Outcome = 'Success'")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(datetime.date(2018, 3, 12),)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [56]:
mycursor.execute("SELECT Booster_Version FROM spacex  WHERE Landing_Outcome = 'Success' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('F9 B5 B1046.2',)
('F9 B5 B1047.2',)
('F9 B5 B1048.3',)
('F9 B5 B1051.2 ',)
('F9 B5B1060.1',)
('F9 B5 B1058.2 ',)
('F9 B5B1062.1',)

### Task 7

##### List the total number of successful and failure mission outcomes

In [61]:
mycursor.execute("SELECT LANDING_OUTCOME, COUNT(*) FROM spacex GROUP BY LANDING_OUTCOME ")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Failure (parachute)', 2)
('No attempt', 21)
('Uncontrolled (ocean)', 2)
('Controlled (ocean)', 5)
('Failure (drone ship)', 5)
('Precluded (drone ship)', 1)
('Success (ground pad)', 9)
('Success (drone ship)', 14)
('Success', 38)
('Failure', 3)
('No attempt ', 1)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [63]:
mycursor.execute("SELECT Booster_Version FROM SPACEX WHERE (SELECT MAX(PAYLOAD_MASS__KG_) FROM spacex)  ")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('F9 v1.0  B0003',)
('F9 v1.0  B0004',)
('F9 v1.0  B0005',)
('F9 v1.0  B0006',)
('F9 v1.0  B0007',)
('F9 v1.1  B1003',)
('F9 v1.1',)
('F9 v1.1',)
('F9 v1.1',)
('F9 v1.1',)
('F9 v1.1',)
('F9 v1.1 B1011',)
('F9 v1.1 B1010',)
('F9 v1.1 B1012',)
('F9 v1.1 B1013',)
('F9 v1.1 B1014',)
('F9 v1.1 B1015',)
('F9 v1.1 B1016',)
('F9 v1.1 B1018',)
('F9 FT B1019',)
('F9 v1.1 B1017',)
('F9 FT B1020',)
('F9 FT B1021.1',)
('F9 FT B1022',)
('F9 FT B1023.1',)
('F9 FT B1024',)
('F9 FT B1025.1',)
('F9 FT B1026',)
('F9 FT B1029.1',)
('F9 FT B1031.1',)
('F9 FT B1030',)
('F9 FT  B1021.2',)
('F9 FT B1032.1',)
('F9 FT B1034',)
('F9 FT B1035.1',)
('F9 FT  B1029.2',)
('F9 FT B1036.1',)
('F9 FT B1037',)
('F9 B4 B1039.1',)
('F9 FT B1038.1',)
('F9 B4 B1040.1',)
('F9 B4 B1041.1',)
('F9 FT  B1031.2',)
('F9 B4 B1042.1',)
('F9 FT  B1035.2',)
('F9 FT  B1036.2',)
('F9 B4 B1043.1',)
('F9 FT  B1032.2',)
('F9 FT  B1038.2',)
('F9 B4 B1044',)
('F9 B4  B1041.2',)
('F9 B4  B1039.2',)
('F9 B4 B1045.1',)
('F9 B5  B1046.1',)
('F9 B4  B1043.2',)
('F9 B4  B1040.2',)
('F9 B4 B1045.2',)
('F9 B5B1047.1',)
('F9 B5B1048.1',)
('F9 B5 B1046.2',)
('F9 B5B1049.1',)
('F9 B5 B1048.2',)
('F9 B5 B1047.2',)
('F9 B5 B1046.3',)
('F9 B5B1050',)
('F9 B5B1054',)
('F9 B5 B1049.2',)
('F9 B5 B1048.3',)
('F9 B5B1051.1',)
('F9 B5B1056.1 ',)
('F9 B5 B1049.3',)
('F9 B5 B1051.2 ',)
('F9 B5 B1056.2 ',)
('F9 B5 B1047.3 ',)
('F9 B5 B1048.4',)
('F9 B5B1059.1',)
('F9 B5 B1056.3 ',)
('F9 B5 B1049.4',)
('F9 B5 B1046.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1059.2',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5B1058.1 ',)
('F9 B5 B1049.5',)
('F9 B5 B1059.3',)
('F9 B5B1060.1',)
('F9 B5 B1058.2 ',)
('F9 B5 B1051.5',)
('F9 B5 B1049.6',)
('F9 B5 B1059.4',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5B1062.1',)
('F9 B5B1061.1 ',)
('F9 B5B1063.1',)
('F9 B5 B1049.7 ',)
('F9 B5 B1058.4 ',)

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [19]:
mycursor.execute("SELECT Booster_Version, LAUNCH_SITE FROM SPACEX WHERE LANDING_OUTCOME = 'Failure (drone ship)' AND DATE BETWEEN '2015-01-01' AND '2015-12-31'")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('F9 v1.1 B1012', 'CCAFS LC-40')
('F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [23]:
mycursor.execute("SELECT *, COUNT(*) C FROM SPACEX WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDING_OUTCOME ORDER BY C DESC ")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(datetime.date(2012, 5, 22), datetime.date(2022, 5, 23), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt', 10)
(datetime.date(2015, 10, 1), datetime.date(2022, 5, 23), 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)', 5)
(datetime.date(2015, 12, 22), datetime.date(2022, 5, 23), 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)', 5)
(datetime.date(2016, 8, 4), datetime.date(2022, 5, 23), 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)', 5)
(datetime.date(2014, 4, 18), datetime.date(2022, 5, 23), 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)', 3)
(datetime.date(2013, 9, 29), datetime.date(2022, 5, 23), 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)', 2)
(datetime.date(2010, 8, 12), datetime.date(2022, 5, 23), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)', 1)
(datetime.date(2015, 6, 28), datetime.date(2022, 5, 23), 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)', 1)

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>